body {
    font-family: 'Roboto', 'Noto', sans-serif;
   /* background-color:#f0f0f2;*/
}
#container {
min-width: 1200px;
}
#section1,#section2,#section3,#section0 {
/*width: 1000px;
		height:200px;
		margin: 0 auto;*/
text-align: center;width:auto;margin:0 auto
}
div.tooltip {	
    position: absolute;			
    text-align: center;			
  /*  min-width: 60px;		*/			
    min-height: 28px;					
    padding: 10px;				
    font: 12px sans-serif;		
    background-color: white;	
    border: 1.5px;	
    border-color:#333333
    border-radius: 2px;			
    pointer-events: none;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    /*color:white;*/
}
div.tooltip h3 {
    line-height: 0.4;
}
path.unit:hover{
    fill:red !important;
}
#navbarmd {
    background: #870000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    height: 100px;
    border-radius: 0;	
    border: 0 solid #ddd !important;
    border-color: #222222 !important;
    box-shadow: 0 0.2px 15px rgba(0,0,0,.5);
}
.navbar-header {
    width: 100%;
}
.nav-tabs {
    border-bottom: 0 solid #ddd !important;
    display: inline-block; /* needed to center the list items */
}
.nav-link {
    color: #c4c4c4 !important;
}
.nav-link:hover {
    color: white !important;
}

.item a{
         color: black;
    text-decoration: none;
    /* font-weight: bold; */
    border-radius: 0px;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    /* border-bottom-color: white; */
    /* font-family: 'Roboto', 'Noto', sans-serif; */
    /* font-size: 14px; */
    /* font-weight: 700; */
    background-color: transparent !important;
    padding: 10px 5px !important;
    }
    
.box-content {
    max-width: 200px;
    margin:50px;
    padding: 13px 15px 14px;
    font: 400 14px Helvetica,Arial;
    color: #858585;
    text-align: left;
    webkit-box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
    box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999;
    background: #fff;
    z-index: 105;
    box-shadow: 0 0 4px #e5e5e5!important;
    border-color: #e5e5e5!important;
}

.centergraphs {
    display: inline-block;
}

#section1 #options  {
    vertical-align: top;
}

#section1 #options li:first-child {
    padding-top: 100px;
}

#section1 li {
    list-style: square;
    font-style: normal;
    font-size: 25px;
    line-height: 20px;
        font-family: Georgia;
}

#section1 li span {
    color: black;
    cursor: pointer;
    font-size: 14px;
    opacity: 1;
}

#titleStory, #titleStory2, #titleStory3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

#section1 #ff {
    color: #141480;
}

#section1 #fm {
    color: #ff2a1a;
}

@media screen and (min-width: 992px) {
    #navbarmd .row {
            padding-top: 20px;
    }
    #navbarmd .col-sm-4 {
            margin-top: 5px;
    }
    #box {
        overflow: hidden;
    }
    #topMenu {
	    background-color:#222;
    overflow: auto;
    }

    #box {
    background-color:#111111;
    position:relative;
    background-color: #f5f5f5;
    /*margin:0 auto;*/
    padding:5px;
    }

    .scroller {
    color:#ffffff;
    width:40px;
    text-align:center;
    cursor:pointer;
    display:none;
    padding:5px;
    margin-top:5px;
    }

    .scroller-right{
    float:right;
    }

    .scroller-left {
    float:left;
    }

    .wrapper {
        position:relative;
        margin:0 auto;
        overflow:hidden;
            padding:5px;
            height:50px;
    }

    .list {
        position:absolute;
        left:0px;
        top:0px;
            min-width:3000px;
            margin-left:12px;
        margin-top:0px;
    }


    .item{
            padding:10px;
    /*float:left;*/
            display:table-cell;
        margin:1px;
        position:relative;
        text-align:center;
        cursor:grab;
        cursor:-webkit-grab;
        /*color:#efefef;*/
           /* border: 1px dotted #111;*/
    vertical-align:middle;
    }
}

@media screen and (max-width: 991px) {
    #navbarmd .row {
            padding-top: 20px;
    }
    #navbarmd .col-sm-4 {
            margin-top: 5px;
    }
    #navbarmd {
        height: auto;
    }
    .wrapper {
        background-color: #333;
        overflow: auto;
        white-space: nowrap;
    }

    .wrapper .item {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
    .scroller {
        display: none !important;
    }
}
@media screen and (max-width: 575px) {
    #navbarmd .navbar-expand-lg {
        float: none !important;
    }
}

@media screen and (min-width: 576px) {
    #navbarmd .row {
            padding-bottom: 20px;
    }
}